
p {
  margin-top: 10px;
}


@font-face {
	font-family: DoubleBass;
	src: url(DoubleBass-thin-trial.tff) format('truetype');
}

@font-face{
  font-family: noto-sans;
  src: url(NotoSansJP-Medium.otf) format('opentype');
}

/*top items*/
#nav {
	font-family: doublebass;
	color: #F79601;
	text-shadow: 1px -1px 0 #edf7f5, 1px -1px 0 #edf7f5, -1px 1px 0 #edf7f5, 1px 1px 0 #edf7f5;
}
.saullogo {
  width: 50%;
  margin-top: 10px;
  margin-left: 10px;
}


/*poster items*/

.postertitle {
	display: inline-block;
	position: relative;
  width:1200px;
	margin-top: auto;
  margin-bottom: auto;
}
.poster {
  white-space: nowrap;
  padding: 2%;
  display: block;
  margin: auto;
  width: 350px;
  height: auto;
  max-width: 100%;
  max-height: auto;
}

/*logo items*/


.logotitle {
  display: inline-block;
  position: relative;
  width:1200px;
  margin-top: auto;
  margin-bottom: auto;
}
.logo-bg{
  padding-top:10%;
  background-image:url(logo/logo_bg.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.logo{
  white-space: nowrap;
  padding-top: 60%;
  padding: 2%;
  margin-right: auto;
  margin-left: auto;
  max-height: auto;
}


/*Bio items*/

.bio-bg{
  padding-top:10%;
  background-image:url(bio/bio-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bio-pic{
  padding-top: 10%;
  display: inline-block;
  width: 100%;
  max-width: auto;
  margin-bottom: auto;
  margin-top: auto;

}
/*text for bio*/
.text-block{
  font-family: noto-sans;
  color: #f0f0df;
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color:rgba(17,22,30,0.8);
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  max-height: 575px;
  max-width: 800px;
  overflow: auto;
  font-size: 1vw;
}
.bio{
    font-family: noto-sans;
    color: ;

}

.column {
	flex: 33.33%;
	max-width: 33.33%;
	padding: 0 4px;
}

.column img {
	margin-top: 0px;
	vertical-align: middle;
}


@media (min-width: 150px) {
  .logo{
    max-width: 15%;
  }
   .textblock{
    max-height: 10%;
    max-width: auto;
 /*   font-size: 10px;*/
  }

}




@media (min-width: 575px) {
	.logo{
		max-width: 15%;
	}
    .bio{
   
  }

   .textblock{
    max-height: 10%;
    max-width: auto;
 /*   font-size: 10px;*/
  }


}


@media (min-width: 767px){
		.logo{
		max-width: 15%;
	}

	.column {
		flex: 100%;
		max-width: 100%;
	}

 .textblock{
    height: 15%;
    width: auto;
   /* font-size: 14px;*/
  }

}


@media (min-width: 991px) {
	.logo{
		max-width: 35%;
	}

	.column {
		flex: 50%;
		max-width: 50%;
	}

 .textblock{
    max-height: 25%;
    width: auto;
  /*  font-size: 16px;*/
  }

}

@media (min-width: 1199px) {
  .logo{
    max-width: 50%;
  }


}
@media (min-width: 1900px) {
  .logo{
    max-width: 100%;
  }
  .saullogo{
    max-width: 100%;
  }

}

.center {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

body {
	position: relative;
	background: transparent;	
}
html{
	background: url(flower_img.png), url(bg_img.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}
html, body {

	width: 100%;
	overflow-x: hidden;
}

/*.show-width{
	background: linear-gradient(to right, rgba(255,26,0,0) 0%, rgba(255,30,0,0.5) 5%, rgba(255,26,0,0.5) 95%, rgba(255,26,0,0) 100%);
}*/


.navbar {
  background-color: #ed9b00;
  font-family: doublebass;
  letter-spacing: 2px;
  left: auto;
  margin-right: 0px;
}
.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #70818b;
}
.navbar .navbar-text {
  color: #ffffff;
  
}
.navbar .navbar-text a {
  color: #70818b;
  
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #70818b; 
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #70818b;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #70818b;
  background-color: #ffffff;
}
.navbar .navbar-toggle {
  border-color: #ffffff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar .navbar-toggle /*.navbar-toggler-icon*/ {
  color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #70818b;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-item {
    color: #ffffff;
    font-size:24px;
    margin-top: 5%; 
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-item:focus {
    color: #70818b;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-item.active {
    color: #70818b;
    background-color: #ffffff;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-item {
    color: #ffffff;
    font-size: 36px;

  }
  .navbar-expand-md .navbar-nav .show .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-item:focus {
    color: #70818b;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-item.active {
    color: #70818b;
    background-color: #ffffff;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-item:focus {
    color: #70818b;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-item.active {
    color: #70818b;
    background-color: #ffffff;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-item {
    color: #ffffff;
    font-size: 60px;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-item:focus {
    color: #70818b;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-item.active {
    color: #70818b;
    background-color: #ffffff;

  }
}

.navbar-expand .navbar-nav .show.dropdown-item {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show  .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-item:focus {
  color: #70818b;
}
.navbar-expand .navbar-nav .show .dropdown-item.active {
  color: #70818b;
  background-color: #ffffff;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(244,243,225, 0.7)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    
}

/*.navbar .navbar-toggle .icon-bar {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='yellow' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	background-color: #70818b;
}*/